<div class="mt-3 text-center">
    <h1>Tareas completadas</h1>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
</div>

<h3 *ngIf="completed.length===0">¡Ups...!, no hay actividades completadas</h3>

<div class="offset-2 col-md-12 mt-5 text-center">
  <table class="table-striped content">

    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha Completada</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <ng-container *ngFor="let activity of completed">
      <tr class="align-middle">
        <td>{{activity.title}}</td>
        <td>{{activity.description}}</td>
        <td>{{activity.date | date:'HH:mm - d MMM - y'}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="delete(activity.id)">Eliminar</button>
        </td>
      </tr>

    </ng-container>

  </table>

</div>
