<div class="mt-3 text-center">
  <h1>Nueva tarea</h1>
  <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
</div>

<form class="col-md-6 offset-3" [formGroup]="form" (ngSubmit)="onValidate()">

  <div class="form-group mt-4">
    <label for="title">Título</label>
    <input type="text" id="title" formControlName="title" class="form-control" placeholder="...">
    <div style="color: red" *ngIf="form.controls.title.errors?.required && form.controls.title.touched">
      ¡Campo obligatorio!
    </div>
    <div style="color: red" *ngIf="form.controls.title.errors?.maxlength && form.controls.title.touched">
      ¡Máximo 15 carácteres!
    </div>
  </div>

  <div class="form-group mt-4">
    <label for="description">Descripción</label>
    <input type="text" id="description" formControlName="description" class="form-control" placeholder="Opcional">
  </div>

  <div class="form-group mt-4">
    <label>Prioridad</label>
    <select class="form-control" formControlName="priority">
      <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
    </select>
  </div>

  <div class="col-md-12 mt-4 text-center">
    <button type="submit" class="mat-raised-button mat-primary">Guardar</button>
  </div>
</form>
