<div class="row justify-content-center mt-3">
  <div class="titulo col-md-4">
    <h1>Lista de Tareas pendientes</h1>
  </div>
  <div class="controls col-md-4">
    <p>Ordenar por:</p>
    <button mat-flat-button color="primary" class="controlButtons" (click)="activityOrder(0)" [ngClass]="{'active':order===0}">Título</button>
    <button mat-flat-button color="primary" class="controlButtons" (click)="activityOrder(1)" [ngClass]="{'active':order===1}">Fecha</button>
    <button mat-flat-button color="primary" class="controlButtons" (click)="activityOrder(2)" [ngClass]="{'active':order===2}">Prioridad</button>
  </div>
  <div class="controls col-md-4">
    <p>Filtrar por:</p>
    <button mat-flat-button color="primary" class="controlButtons" (click)="activityFilter(0)" [ngClass]="{'active':filter===0}">Todas</button>
    <button mat-flat-button color="primary" class="controlButtons" (click)="activityFilter(1)" [ngClass]="{'active':filter===1}">Pendientes</button>
    <button mat-flat-button color="primary" class="controlButtons" (click)="activityFilter(2)" [ngClass]="{'active':filter===2}">En proceso</button>
  </div>

</div>

<!--<mat-divider class="mt-1 mb-3"></mat-divider>-->

<h3 *ngIf="activities.length===0" class="noTareas">No hay tareas pendientes, ¡Felicidades!</h3>

<div class="lista mat-typography">
  <div class="tarea" *ngFor="let activity of activities"
       [ngClass]="{
            'incompleta':activity.status===0,
            'proceso':activity.status===1,
            'filtroPendientes':filter===1 && activity.status!=0,
            'filtroProceso':filter===2 && activity.status!=1
        }">

    <button mat-icon-button class="fixr" (click)="deleteActivity(activity.id)">
      <mat-icon>close</mat-icon>
    </button>

    <div class="top-side">
      <div class="task">
        <h1>{{activity.title}}</h1>
        <h4>{{activity.description}}</h4>
      </div>

      <div class="task-info"
           [ngClass]="{
                'incompleta-info':activity.status===0,
                'proceso-info':activity.status===1}"
      >
        <p>Prioridad: {{activity.priority}}</p>
        <p *ngIf="activity.status===0">Pendiente</p>
        <p *ngIf="activity.status===1">En proceso</p>
        <p>Creada: {{activity.date | date:'MMM d, y, HH:mm'}}</p>
      </div>
    </div>
    <div class="bot-side">
      <button *ngIf="activity.status===0" class=" btn btn-sm start white mr-1" (click)="process(activity)">Comenzar</button>
      <button *ngIf="activity.status===1" class=" btn btn-sm pause white mr-1" (click)="process(activity)">Pausar</button>
      <button class=" btn btn-sm white edit mr-1" (click)="openEditDialog(activity)">Editar</button>
      <button class=" btn btn-sm complete white" (click)="complete(activity)">Completar</button>
    </div>
  </div>
</div>
