<div class="row justify-content-center mt-3">
  <div class="col-md-4 text-center">
    <h1>Lista de Tareas</h1>
    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
  </div>

  <div class="row text-center">

    <div class="col-md-4">
      <mat-form-field appearance="fill" style="margin-right: 5%">
        <mat-label>Ordenar por:</mat-label>
        <select matNativeControl>
          <option value="Default" selected>Default</option>
          <option (click)="activityOrder(0)" value="Título">Título</option>
          <option (click)="activityOrder(1)" value="Fecha">Fecha</option>
          <option (click)="activityOrder(2)" value="Prioridad">Prioridad</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Filtrar por:</mat-label>
        <select matNativeControl>
          <option (click)="activityFilter(0)" value="Todas">Todas</option>
          <option (click)="activityFilter(1)" value="Pendientes">Pendientes</option>
          <option (click)="activityFilter(2)" value="En proceso">En proceso</option>
        </select>
      </mat-form-field>
    </div>

  </div>
  <h3 *ngIf="activities.length===0">¡Enhorabuena!, en estos momentos no hay actividades</h3>
</div>

<div class="offset-md-2 col-md-10 mt-5 text-center">
  <table class="table-striped content">

    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Prioridad</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>

    <ng-container *ngFor="let activity of activities">
      <tr class="align-middle">
        <td>{{activity.title}}</td>
        <td>{{activity.description}}</td>
        <td>{{activity.priority}}</td>
        <td>
          <span *ngIf="activity.status===0">Pendiente</span>
          <span *ngIf="activity.status===1">En proceso</span>
        </td>
        <td>{{activity.date | date:'HH:mm - d MMM - y'}}</td>
        <td>
          <button *ngIf="activity.status===0" style="margin-right: 5px" class="btn btn-sm btn-info" (click)="process(activity)">Comenzar</button>
          <button *ngIf="activity.status===1" style="margin-right: 5px" class="btn btn-sm btn-warning" (click)="process(activity)">Pausar</button>
          <button style="margin-right: 5px" class="btn btn-sm btn-dark" (click)="complete(activity)">Completar</button>
          <button class="btn btn-sm btn-success" (click)="openEditDialog(activity)">Editar</button>
        </td>
      </tr>

    </ng-container>

  </table>

</div>
