<div class="row justify-content-center mt-3">
  <div class="col-md-4 text-center">
    <h1>Lista de Tareas</h1>
    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto border-dark" style="width: 200px;">
  </div>

  <div class="row text-center">

    <div class="col-md-4">
      <mat-form-field appearance="fill" style="margin-right: 5%">
        <mat-label>Ordenar por:</mat-label>
        <select matNativeControl>
          <option value="Default" selected>Default</option>
          <option (click)="activityOrder(0)" value="Título">Título</option>
          <option (click)="activityOrder(1)" value="Fecha">Fecha</option>
          <option (click)="activityOrder(2)" value="Prioridad">Prioridad</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Filtrar por:</mat-label>
        <select matNativeControl>
          <option value="Default" selected>Default</option>
          <option (click)="activityFilter(0)" value="Todas">Todas</option>
          <option (click)="activityFilter(1)" value="Pendientes">Pendientes</option>
          <option (click)="activityFilter(2)" value="En proceso">En proceso</option>
        </select>
      </mat-form-field>
    </div>

  </div>

</div>

<h3 *ngIf="activities.length===0" class="noTareas">No hay tareas pendientes, ¡Felicidades!</h3>

<div class="lista mat-typography">
  <div class="tarea" *ngFor="let activity of activities">

    <div class="top-side">
      <div class="task">
        <h1>{{activity.title}}</h1>
        <h4>{{activity.description}}</h4>
      </div>

      <div class="task-info">
        <p>Prioridad: {{activity.priority}}</p>
        <p *ngIf="activity.status===0">Estado: Pendiente</p>
        <p *ngIf="activity.status===1">Estado: En proceso</p>
        <p>Fecha: {{activity.date | date:'HH:mm - d MMM - y'}}</p>
      </div>
    </div>
    <div class="bot-side">
      <button *ngIf="activity.status===0" style="margin-right: 5px" class="btn btn-sm btn-info" (click)="process(activity)">Comenzar</button>
      <button *ngIf="activity.status===1" style="margin-right: 5px" class="btn btn-sm btn-warning" (click)="process(activity)">Pausar</button>
      <button style="margin-right: 5px" class="btn btn-sm btn-dark" (click)="complete(activity)">Completar</button>
      <button class="btn btn-sm btn-success" (click)="openEditDialog(activity)">Editar</button>
    </div>
  </div>
</div>
